<main role="main"></main>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-3 text-center mb-4">
        <img src="assets/logo.png" alt="Logo" class="img-fluid mx-auto d-block" style="width: 80%;">
      </div>
      <h2>Bienvenido a Un Click Por Mi Planeta</h2>
      <p>Una iniciativa que busca reducir el consumo global de energía causada por el almacenamiento de correos y
        archivos mediante una limpieza de las cuentas electrónicas en 2023.</p>
      <p>Ayuda a proteger el planeta y ahorra energía de manera sencilla.</p>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h4>Estadísticas Generales</h4>
          <ul>
            <li><i class="fas fa-hdd"></i> Aportes totales: {{dataGeneral.total_eliminado}} TeraBytes</li>
            <li><i class="fas fa-lightbulb"></i> Energía Ahorrada: {{dataGeneral.energia_ahorrada}} KWh</li>
            <li><i class="fas fa-cloud"></i> Emisiones de CO2: {{dataGeneral.emisiones_co2}} ppm</li>
            <li><i class="fas fa-dollar-sign"></i> Ahorro de energía en Dólares: ${{dataGeneral.ahorro_dolares}}</li>
            <li><i class="fas fa-lightbulb"></i> Energía Ahorrada equivalente a bombillas encendidas:
              {{dataGeneral.encendidos}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!loggedIn">
    <div class="row mt-4">
      <div class="col-md-6">
        <button (click)="evento('R')" class="btn btn-primary btn-lg" routerLink="/register">Únete a la campaña</button>
        <p class="mt-4">¡Únete a la campaña "Un Click Por Mi Planeta" y comienza a aportar al medio ambiente!</p>
      </div>
      <div class="col-md-6">
        <button (click)="evento('I')" class="btn btn-success btn-lg" routerLink="/login">Iniciar Sesión</button>
        <p class="mt-4">¿Ya tienes una cuenta? ¡Inicia sesión y continúa registrando tus aportes como un Vigía
          Ecodigital!
        </p>
      </div>
    </div>
  </div>

</div>