<div class="container py-3">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-3">Certificado</h2>
            <hr class="mb-4">
            <div class="row justify-content-center">

                <div class="col-md-12 offset-md-1">
                    <span class="anchor" id="formComplex"></span>
                    <div class="card card-outline-secondary">
                        <div class="card-body">
                            <div class="col-sm-8 pb-3 ">
                                <h2 class="div1">CERTIFICACIÓN
                                    <br>
                                    VIGIA ECODIGITAL
                                </h2>
                                <div class="div1">
                                    CERTIFICA A:
                                    <br>
                                    {{usuario.name}}
                                </div>
                                <div>
                                    Por efectuar exitosamente la limpieza ecodigital en sus herramientas
                                    tecnológico/digitales, aprendiendo ...
                                </div>
                            </div>
                            <div class="col-sm-4 pb-3">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>