.contenedor {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.register-box {
  width: 100%;
  max-width: 1200px;
}

.card {
  border: 1px solid #d2d6de;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.card-body {
  padding: 20px;
}

.login-box-msg {
  text-align: center;
  font-size: 18px;
  margin-bottom: 15px;
}

.form-group {
  margin-bottom: 20px;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.text-center {
  text-align: center;
}

.invalid-feedback {
  color: red;
}

@media (max-width: 768px) {

  .register-box {
    max-width: 100%; /* Hacer que el formulario ocupe todo el ancho en pantallas pequeñas */
  }
}
