<div class="card">
    <div class="card-body">
      <h3 class="login-box-msg">Formato de Registro</h3>
      <form (ngSubmit)="onSubmit(registerForm)" #registerForm="ngForm">
        <div class="row mt-12">


          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <select class="form-control" aria-label="Default select example" name="tipdoc" #tipdoc="ngModel"
              [(ngModel)]="register.tipdoc" required>
              <option value="" selected>Tipo de Documento*</option>
              <option value="CC" selected>CEDULA</option>
              <option value="TI" selected>TARJETA DE IDENTIDAD</option>
              <option value="PA" selected>PASAPORTE</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-id-card"></span>
              </div>
            </div>
            <small *ngIf="!tipdoc.valid && tipdoc.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>

          <div class="input-group mb-3 col-sm-3 pb-3 form-group ">
            <input type="text" class="form-control" placeholder="Numero Documento" name="docemp" #docemp="ngModel"
              minlength="5" maxlength="15" [(ngModel)]="register.docemp" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-address-card"></span>
              </div>
            </div>
            <small *ngIf="!docemp.valid && docemp.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group ">
            <input type="text" class="form-control" placeholder="Primer Nombre*" name="prinom" #prinom="ngModel"
              [(ngModel)]="register.prinom" required maxlength="40">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <small *ngIf="!prinom.valid && prinom.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="text" class="form-control" placeholder="Segundo Nombre" name="segnom" #segnom="ngModel"
              [(ngModel)]="register.segnom" maxlength="40">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <small *ngIf="!segnom.valid && segnom.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="text" class="form-control" placeholder="Primer Apellido*" name="priape" #priape="ngModel"
              [(ngModel)]="register.priape" required maxlength="40">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <small *ngIf="!priape.valid && priape.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="text" class="form-control" placeholder="Segundo Apellido" name="segape" #segape="ngModel"
              [(ngModel)]="register.segape" maxlength="40">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
            <small *ngIf="!segape.valid && segape.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control"
              placeholder="Fecha de Nacimiento*" name="fecnac" #fecnac="ngModel" [(ngModel)]="register.fecnac"
              required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-calendar"></span>
              </div>
            </div>
            <small *ngIf="!fecnac.valid && fecnac.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>

          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <select class="form-control" aria-label="Default select example" name="codsex" #codsex="ngModel"
              [(ngModel)]="register.codsex" required>
              <option value="" selected>Genero*</option>
              <option value="M" selected>MASCULINO</option>
              <option value="F" selected>FEMENINO</option>
              <option value="O" selected>OTRO</option>
            </select>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-users"></span>
              </div>
            </div>
            <small *ngIf="!codsex.valid && codsex.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>

          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="text" class="form-control" placeholder="Dirección*" name="direccion" #direccion="ngModel"
              [(ngModel)]="register.direccion" maxlength="50" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-home"></span>
              </div>
            </div>
            <small *ngIf="!direccion.valid && direccion.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="text" class="form-control" placeholder="Ciudad*" name="ciudad" #ciudad="ngModel"
              [(ngModel)]="register.ciudad" maxlength="64" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-globe"></span>
              </div>
            </div>
            <small *ngIf="!ciudad.valid && ciudad.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="number" class="form-control" placeholder="Telefono*" name="telefono" #telefono="ngModel"
              [(ngModel)]="register.telefono" max="9999999999" min="999999" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-phone"></span>
              </div>
            </div>
            <small *ngIf="!telefono.valid && telefono.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group  ">
            <input type="email" class="form-control" placeholder="Email*" name="email" #email="ngModel"
              [(ngModel)]="register.email" maxlength="100" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group ">
            <input type="password" class="form-control" placeholder="Contraseña*" name="password" #password="ngModel"
              [(ngModel)]="register.password" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>
          <div class="input-group mb-3 col-sm-3 pb-3 form-group ">
            <input type="password" class="form-control" placeholder="Confirmar Contraseña*"
              name="password_confirmation" #password_confirmation="ngModel"
              [(ngModel)]="register.password_confirmation" required>
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <small *ngIf="!password_confirmation.valid && password_confirmation.touched"
              class="invalid-feedback d-block">
              El campo no es valido!
            </small>
          </div>

        </div>
        <div class="row">
          <div class="col-5" style="align-items: center; display: flex; justify-content: center;">
            <button type="submit" class="btn btn-primary btn-block">Actualizar Información</button>
          </div>
        </div>
      </form>
    </div>
  </div>