
.login-logo {
  text-align: center; /* Centra el contenido del .login-logo */
}

.login-logo img {
  width: 100px; /* Ajusta el ancho del logo */
  height: auto; /* proporción de aspecto */
}


.login-card-body {
  border-radius: 20px;
}
