<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <div>
              <img src="\assets\logo.png" alt="Logo">
            </div>
            <a href="../../index2.html"><b></b>Un Click Por Mi Planeta</a>
        </div>

        <div class="card">

            <div class="card-body login-card-body">


                <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="email" name="email"
                            #email="ngModel" minlength="5" maxlength="100" [(ngModel)]="login.email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password"
                            password="ngModel" minlength="5" maxlength="100" [(ngModel)]="login.password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1 text-center mt-2">
                  <a routerLink="/forgot-password" class="btn btn-link">
                    <i class="bi bi-question-circle"></i> ¿Olvidaste tu contraseña?
                  </a>
                </p>
                <p class="mb-0 text-center">
                  <a routerLink="/register" class="btn btn-link">
                    <i class="bi bi-person-plus"></i> Crear una cuenta
                  </a>
                </p>


            </div>

        </div>
    </div>

</div>
