<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b></b>Un Click Por Mi Planeta</a>
        </div>
        <!-- /.login-logo -->
        <p class="login-box-msg">Es una iniciativa que busca reducir el consumo global de energía causada por el
            almacenamiento de correos, mediante una limpieza de las cuentas electrónicas en 2023</p>
        <div class="card">

            <div class="card-body login-card-body">


                <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" name="email" name="email"
                            #email="ngModel" minlength="5" maxlength="100" [(ngModel)]="login.email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Contraseña" name="password"
                            password="ngModel" minlength="5" maxlength="100" [(ngModel)]="login.password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <p class="mb-1">
                    <a routerLink="/forgot-password">¿Olvidaste tu contraseña?</a>
                </p>
                <p class="mb-0">
                    <a routerLink="/register" class="text-center">Crear una cuenta</a>
                </p>
            </div>

        </div>
    </div>

</div>