.contenedor-imagen {
  position: relative;
  display: inline-block;
}

.datos {
  position: absolute;
}



.container {
  border: 2px solid #eee;
  /* Agregar un borde gris claro */
  border-radius: 20px;
  /* Agregar bordes redondeados de 20px */
  padding: 20px;
  /* Espaciado interior para separar el contenido del borde */
}

.leyenda {

  font-size: 0.8rem;
}

.vigia {
  font-size: 1.2rem;
}

.nombre {
  font-size: 1.5rem;
  text-transform: uppercase;
}


@media (max-width: 768px) {
  .image {
    max-width: 70%;
    /* La imagen no será más ancha que su contenedor */
    height: auto;
    /* La altura se ajustará automáticamente para mantener la proporción */
  }

}