<div class="contenedor-imagen" id="myData" #myData>
    <img src="../../../assets/BG-CERTIFICADO.jpg">
    <div class="datos" style="left: 290px; top: 290px;">
        <h4> {{usuario.name}}
        </h4>
    </div>


    <div class="datos" style="left: 805px; top: 68px;">
        <h4>
            <font color="#FFFFFF">
                {{data.energia_ahorrada}} KWh
            </font>
        </h4>
    </div>
    <div class="datos" style="left: 805px; top: 120px;">
        <h4>
            <font color="#FFFFFF">
                {{data.emisiones_co2}} ppm
            </font>
        </h4>
    </div>


    <div class="datos" style="left: 805px; top: 165px;">
        <h4>
            <font color="#FFFFFF">
                {{data.ahorro_dolares}} USD
            </font>
        </h4>
    </div>

    <div class="datos" style="left: 805px; top: 220px;">
        <h4>
            <font color="#FFFFFF">
                {{data.encendidos}} BOM </font>
        </h4>
    </div>
</div>